<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-container">
  <div class="container">
    <div class="tom1">
      <ion-button class="tom" (click)="getPicture()">
        <ion-icon name="ellipse"></ion-icon>
        <ion-icon name="ellipse-outline"></ion-icon>
      </ion-button>
    </div>
    


  <ion-fab vertical="bottom" horizontal="start" slot="fixed" class="fab-container">
    <ion-fab-button (click)="openImage()" class="fab-button">
      <img [src]="imagenParaMostrar" class="fab-image">
      <ion-icon name="aperture"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </div>
   
</ion-content>

