
ion-icon{
  color: rgb(255, 255, 255);
}
.tom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  width: 70px; 
  height: 70px; 
}

.tom ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tom ion-icon[name="ellipse"] {
  font-size: 48px; 
}

.tom ion-icon[name="ellipse-outline"] {
  font-size: 60px; 
}
.tom{
  --background:transparent;
}

.tom1{
  display: flex;
  justify-content: center;
  align-items: center;
}